<h1>Session Token - Thinktecture.IdentityModel.45</h1>
<div>
    <fieldset>
        <legend>Login</legend>
        <p>
            <label for="username">Username</label>
            <input id="username" value="bob" />
        </p>
        <p>
            <label for="password">Password</label>
            <input id="password" type="password" value="bob" />
        </p>
        <p>
            <button id="login">Log in</button>&nbsp;State: &nbsp;<span id="loginStatus">Logged Out</span>
        </p>
    </fieldset>
</div>
<div style="margin-top: 20px">
    <button id="getById">Get with Id</button>
    <button id="getAll">Get All</button>
</div>
<div id="returnedData" style="margin-top: 20px;">
</div>
