<section class="post-detail">
   <h3 data-bind="text: title"></h3>
   <div data-bind="compose: { model: 'viewmodels/postedit' }">Loading...</div> 
</section>
<section class="post-comments">

<div class="form-group" data-bind="validationElement: Content">
            <label for="postContent" class="control-label">Content</label>
            <div class="control">
                <textarea id="commentContent" class="form-control" rows="3" data-bind="value: Content, valueUpdate: 'afterkeydown'"></textarea>
            </div>
        </div>
</section>

