<section>
    <h3 data-bind="text: title"></h3>
    <section class="view-list" data-bind="foreach: posts">
        <article>
            <h1>
                <span data-bind="text: Id"></span>
                <span data-bind="text: Title"></span>
            </h1>
            <div data-bind="foreach: Tags">
                <span data-bind="text: Name"></span>
            </div>
            <div data-bind="text: ContentText"></div>
            <button data-bind="click: $root.gotoDetails">Details</button>

        </article>
    </section>
</section>