<section class="post-add">
    <h3 data-bind="text: title"></h3>
    <form class="view-list" data-bind="with: post">
        <div class="form-group" data-bind="validationElement: Title">
            <label for="postTitle" class="control-label">Title</label>
            <div class="control">
                <input type="text" id="postTitle" class="form-control" data-bind="value: Title,  valueUpdate: 'afterkeydown'" />
            </div>
        </div>
        <div class="form-group" data-bind="validationElement: ContentText">
            <label for="postContent" class="control-label">Content</label>
            <div class="control">
                <textarea id="postContent" class="form-control" rows="3" data-bind="value: ContentText, valueUpdate: 'afterkeydown'"></textarea>
            </div>
        </div>
        <div data-bind="compose: { model: 'viewmodels/tagsedit'}">Loading...</div> 
        <div class="form-group">
            <div class="control">
                <button class="btn btn-info" data-bind="click: $parent.cancel, enable: $parent.canSave">Cancel</button>
                <button class="btn btn-default" data-bind="click: $parent.save, enable: $parent.canSave">Save</button>
            </div>
        </div>

    </form>
</section>
