<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>You've successfully</strong> authenticated with <span data-bind="text: displayName"></span>.
    Please enter a user name for this site below and click the Confirm button to finish
    logging in.
</div>
<form data-bind="submit: confirmexternalaccount">
    <div class="panel">
        <div class="panel-heading">
            <h3>Associate your <span data-bind="text: displayName"></span> account</h3>
        </div>    
        <div class="form-group" data-bind="validationElement: userName">
            <label class="control-label" for="userName">User name</label>        
            <input class="form-control" type="text" id="userName" data-bind="value: userName" placeholder="User name">        
        </div>
        <div class="form-group" data-bind="validationElement: Email">
            <label class="control-label" for="email">Email</label>    
            <input class="form-control" type="text" id="email" data-bind="value: email" placeholder="Email">    
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" >Confirm account</button>    
        </div>            
    </div>
</form>